@using Fluxor
@using Lyra.Data.API.WorkFlow
@using Lyra.Data.Shared
@using Microsoft.Extensions.Configuration
@using Nebula.Store.WebWalletUseCase

<div align="left">
    @foreach(var trade in trades)
    {
        var dir = "Buy";
        if (trade.Trade.dir == TradeDirection.Buy && trade.OwnerAccountId == walletState.Value.wallet.AccountId)
            dir = "Buy";
        if (trade.Trade.dir == TradeDirection.Buy && trade.Trade.orderOwnerId == walletState.Value.wallet.AccountId)
            dir = "Sell";
        if (trade.Trade.dir == TradeDirection.Sell && trade.OwnerAccountId == walletState.Value.wallet.AccountId)
            dir = "Sell";
        if (trade.Trade.dir == TradeDirection.Sell && trade.Trade.orderOwnerId == walletState.Value.wallet.AccountId)
            dir = "Buy";
       
        <div class="container">
            <div>
                @trade.TimeStamp
                @*<MudButton Variant="Variant.Filled" OnClick="@ShowCreateTradeUI" Color="Color.Primary">@(Otc.Order.dir == TradeDirection.Sell ? "Buy" : "Sell")</MudButton>*@
            </div>
            <div class="nw">
                <a target="_blank" href="@(LyraGlobal.GetBlockViewUrl(Configuration["network"], trade.AccountID))">@(trade.AccountID.Shorten())</a>
            </div>
            <div class="nw">
                <div>@dir @((trade as IOtcTrade).Trade.crypto) </div>
            </div>
            <div>
                @((trade as IOtcTrade).OTStatus)
            </div>
            <div>
                <a href="/dealer/room/@trade.AccountID">
                    <MudButton Variant="Variant.Filled" Color="Color.Secondary">Chat</MudButton>
                </a>
                @if((trade as IOtcTrade).OTStatus == OTCTradeStatus.CryptoReleased)
                {
                    <MudButton Variant="Variant.Filled" OnClick="@(() => Comment(trade.AccountID))" Color="Color.Tertiary">Comment</MudButton>
                }
            </div>
        </div>
    }
</div>

@code {
    [Inject]
    IConfiguration Configuration { get; set; }

    [Inject]
    private IState<WebWalletState> walletState { get; set; }

    [Inject] ISnackbar Snackbar { get; set; }
    [Inject] NavigationManager Navigation { get; set; }

    List<IOtcTrade> trades = new List<IOtcTrade>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender && walletState.Value.wallet != null)
        {
            // get all current trades 
            var ret = await walletState.Value.wallet.RPC.FindOtcTradeAsync(walletState.Value.wallet.AccountId, false, 0, 10);
            if(ret.Successful())
            {
                trades = ret.GetBlocks()
                    .OrderByDescending(a => a.TimeStamp)
                    //.Take(3)
                    .Cast<IOtcTrade>().ToList();
                StateHasChanged();
            }
            else
            {
                Snackbar.Add($"Error getting transactions: {ret.ResultCode.Humanize()}", Severity.Error);
            }
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    async Task Comment(string accountId)
    {
        Navigation.NavigateTo($"/dealer/comment/{accountId}");
    }
}
