@page "/dealer/room/{tradeid}"
@inherits FluxorComponent

@using Fluxor
@using Fluxor.Blazor.Web.Components
@using Lyra.Data.API.Identity
@using Lyra.Data.API.WorkFlow
@using Lyra.Data.Crypto
@using Lyra.Data.Shared
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.Extensions.Configuration
@using Nebula.Store.WebWalletUseCase
@using System.Security.Cryptography
@using Lyra.Data.API
@using UserLibrary.Data
@inject NavigationManager Navigation

<div class="mag fh">

    <h1>Dealer Room</h1>
    <p>For Trade: <a target="_blank" href="@(LyraGlobal.GetBlockViewUrl(Configuration["network"], tradeid))">@(tradeid.Shorten())</a></p>
    <p>I'm the @role</p>
    <div class="scr">
        <div class="chatw" @ref="msgsref">
            <div class="top mud-elevation-3">
                <div class="act">
                    @pintitle
                </div>
                <div>
                    @pinnedmsg
                </div>
                @if (actable)
                {
                    <div align="right">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary"
                               OnClick="FinishAction">Finished</MudButton>
                    </div>
                }

                @if(level != DisputeLevels.None)
                {
                    <a href="/dealer/complaint/@tradeid">
                    <div class="disp">
                        Current Dispute Level: @((int)level), @level
                    </div>
                    </a>
                }
            </div>
            @foreach (var cainter in messages)
            {
                var obj = cainter.Get();
                if(obj is RespMessage msg && msg.TradeId == tradeid)
                {
                    var align = "left";
                    if (joinroom.Roles[msg.UserName] == "me")
                        align = "right";
                    if (joinroom.Roles[msg.UserName] == "dealer")
                        align = "center";
                    <div align="@align" class="para @(joinroom.Roles[msg.UserName])w">
                        <div>@msg.UserName</div>
                        <div class="@(joinroom.Roles[msg.UserName])msg">@msg.Text</div>
                    </div>
                }
                else if(obj is RespFile file && file.TradeId == tradeid)
                {
                    var align = "left";
                    if (joinroom.Roles[file.UserName] == "me")
                        align = "right";
                    if (joinroom.Roles[file.UserName] == "dealer")
                        align = "center";
                    <div align="@align" class="para @(joinroom.Roles[file.UserName])w">
                        <div>@file.UserName</div>
                        <div class="@(joinroom.Roles[file.UserName])msg">
                            <img class="thumb" src="@file.Url" @onclick="@(a => Zoom(file.Url))" /></div>
                    </div>
                }
            }
        </div>
    </div>

    <div class="inp ext">
        <MudTextField T="string" @ref="@inputTxt" Variant="Variant.Outlined" Lines="1" Class="inptxt"
                      OnKeyUp="@Enter" />
        <MudFab Color="Color.Primary" StartIcon="@Icons.Filled.Send"
                Size="Size.Small" OnClick="SendIt" />
        <MudFab Color="Color.Primary" StartIcon="@Icons.Filled.EmojiEmotions"
                Size="Size.Small" OnClick="ToggleEmj" />
        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add"
                Size="Size.Small" OnClick="ToggleAdd" />
    </div>

    @if (showadd)
    {
        <div class="ext">
            <InputFile id="fileInput112" OnChange="UploadFiles" hidden multiple accept=".jpg, .jpeg, .png" />

            <MudButton HtmlTag="label"
                   Variant="Variant.Filled"
                   StartIcon="@Icons.Filled.Image"
                   for="fileInput112">
                Send images
            </MudButton>

            <MudButton
                   Variant="Variant.Filled"
                   StartIcon="@Icons.Filled.Close"
                   OnClick="CancelTrade"
                   >
                Cancel Trade
            </MudButton>

            <MudButton
                   Variant="Variant.Filled"
                   StartIcon="@Icons.Filled.Balance"
                   OnClick="Complaint"
                   >
                Complaint
            </MudButton>
        </div>
    }

    @if (showemoji)
    {
        <!-- Emoji Keyboard -->
        <div class="emj">
            @foreach (var c in Emoji.MostCommonCollection)
            {
                <button type="button" @onclick="(() => AddEmoji(c))">@c</button>
            }
        </div>
    }

</div>

    <div @ref="@fullpage" class="fullpage" style="@fpstyle" @onclick="@(e => CloseFP())">

    </div>

@code {
    [Parameter]
    public string? tradeid { get; set; }

    [Inject]
    private IState<WebWalletState> walletState { get; set; }
    [Inject]
    IConfiguration Configuration { get; set; }
    [Inject] ISnackbar Snackbar { get; set; }
    [Inject] IJSRuntime JsRuntime { get; set; }
    [Inject] private IDialogService DialogService { get; set; }
    [Inject] ILyraAPI lyraApi { get; set; }
    [Inject] DealerConnMgr connMgr { get; set; }

    private List<RespContainer> messages = new List<RespContainer>();

    string pinnedmsg = "Connecting dealer and get update...";

    JoinRoomResponse joinroom;

    PinnedMessage lastpin;
    string pintitle;
    bool actable;
    DisputeLevels level;

    ElementReference fullpage { get; set; }
    ElementReference msgsref { get; set; }
    MudTextField<string> inputTxt { get; set; }
    bool addmsg;
    bool showemoji, showadd, showfullpage;
    string fpstyle;

    // about complaint
    TradeBrief brief;

    // role, buyer or seller
    string role;

    IOtcTrade trade;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (addmsg)
        {
            await JsRuntime.InvokeVoidAsync("updateScroll", msgsref);
            addmsg = false;
        }

        if(firstRender)
        {
            await GetTradeBrief();
            await JoinDealerRoom();
            await InvokeAsync(() => StateHasChanged());
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    protected override async Task OnInitializedAsync()
    {
        if (walletState.Value.wallet == null)
        {
            Navigation.NavigateTo("/wallet");
            return;
        }

        SubscribeToAction<RespContainer>(a =>
            {
                var obj = a.Get();
                if(obj.TradeId == tradeid)
                {
                    messages.Add(a);
                    addmsg = true;
                    InvokeAsync(() => StateHasChanged());
                }
                else
                {
                    Snackbar.Add($"New message for trade: {obj.TradeId.Shorten()}", Severity.Normal, config =>
                    {
                        config.Action = "Open Trade";
                        config.ActionColor = Color.Primary;
                        config.Onclick = async snackbar =>
                        {
                            await Help(obj.TradeId);
                        };
                    });
                }
            });

        SubscribeToAction<PinnedMessage>(a =>
            {
                if(a.TradeId == tradeid)
                {
                    lastpin = a;
                    pintitle = a.Mode switch
                    {
                        PinnedMode.Action => "Take Action",
                        PinnedMode.Wait => "Await",
                        PinnedMode.Notify => "",
                        _ => "",
                    };
                    actable = a.Mode == PinnedMode.Action;
                    pinnedmsg = a.Text;
                    level = a.Level;

                    InvokeAsync(() => StateHasChanged());
                }
                else
                {
                    if(a.Mode == PinnedMode.Action)
                    {
                        Snackbar.Add($"Trade changed. Need action: {a.Text}", Severity.Info);
                    }
                    else
                    {
                        Snackbar.Add($"Trade changed. {a.Text}", Severity.Normal);
                    }
                }
            });        
    }

    private async Task JoinDealerRoom()
    {
        joinroom = await connMgr.JoinRoom(trade.Trade.dealerId, new JoinRoomRequest
            {
                TradeID = tradeid,
                UserAccountID = walletState.Value.wallet.AccountId,
                Signature = Signatures.GetSignature(walletState.Value.wallet.PrivateKey, tradeid, walletState.Value.wallet.AccountId),
            });

        if (joinroom.Successful())
        {
            Snackbar.Add($"Join dealer room successfully.", Severity.Success);

            // populate history
            messages.AddRange(joinroom.History);
            addmsg = true;
        }
        else
        {
            Snackbar.Add($"Error join dealer room: {joinroom.ResultCode.Humanize()}", Severity.Error);
        }
    }

    private async Task Help(string newtradeid)
    {
        // rejoin room
        Navigation.NavigateTo($"/dealer/room/{newtradeid}");
        messages.Clear();
        lastpin = null;
        pintitle = null;
        actable = false;

        tradeid = newtradeid;
        await JoinDealerRoom();
        await InvokeAsync(() => StateHasChanged());
    } 

    void ToggleEmj()
    {
        showemoji = !showemoji;
        if (showemoji)
            showadd = false;
    }

    void ToggleAdd()
    {
        showadd = !showadd;
        if (showadd)
            showemoji = false;
    }

    //Add Emoji to Message
    protected async Task AddEmoji(string emoji)
    {
        inputTxt.Text += emoji;
    }

    private async Task Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await SendIt();
        }
    }

    async Task SendIt()
    {
        if(!string.IsNullOrWhiteSpace(inputTxt.Text))
        {
            await Send(inputTxt.Text);
            await inputTxt.Clear();
        }
    }

    private async Task Send(string txt)
    {
        // PortableSignatures make a better compatibility
        if(connMgr.IsConnected)
        {
            var lastHash = messages.Count > 0 ? messages.Last().Get().Hash : null;
            var chatmsg = new ChatMessage
                {
                    PrevHash = lastHash,
                    TradeId = tradeid,
                    AccountId = walletState.Value.wallet.AccountId,
                    Text = txt,
                };
            chatmsg.Sign(walletState.Value.wallet.PrivateKey, walletState.Value.wallet.AccountId);
            await connMgr.Chat(trade.Trade.dealerId, chatmsg);
        }
        else
        {
            Snackbar.Add($"Not connected to dealer. Please retry again.", Severity.Error);
        }
    }

    private async Task FinishAction()
    {
        try
        {
            var tradeblk = (await walletState.Value.wallet.RPC.GetLastBlockAsync(tradeid)).As<IOtcTrade>();
            var fiat = $"{tradeblk.Trade.fiat} {tradeblk.Trade.price * tradeblk.Trade.amount:N2}";

            if (tradeblk.OTStatus == OTCTradeStatus.Open &&
                brief.Members.Skip(1).First() == walletState.Value.wallet.AccountId)        // buyer is 2nd member
            {
                // ask if your have paied
                var result = await DialogService.ShowMessageBox(
                "Warning",
                    $"Please make sure you have paid {fiat} to the seller.",
                    yesText: "Confirm!", cancelText: "Cancel");

                if (result != null && result.Value)
                {
                    var payindret = await walletState.Value.wallet.OTCTradeFiatPaymentSentAsync(tradeid);
                    if (payindret.Successful())
                    {
                        await Send("/fiatsent");

                        Snackbar.Add($"Successfully.", Severity.Success);
                    }
                    else
                    {
                        Snackbar.Add($"Failed. {payindret.ResultCode.Humanize()}", Severity.Error);
                    }
                }
            }

            if (tradeblk.OTStatus == OTCTradeStatus.FiatSent &&
                brief.Members.First()  == walletState.Value.wallet.AccountId)
            {
                // ask if your have paied
                var result = await DialogService.ShowMessageBox(
                "Warning",
                    $"Please make sure you have received fiat payment of {fiat}.",
                    yesText: "Confirm!", cancelText: "Cancel");

                if (result != null && result.Value)
                {
                    var payindret = await walletState.Value.wallet.OTCTradeFiatPaymentConfirmAsync(tradeid);
                    if (payindret.Successful())
                    {
                        await Send("/fiatreceived");

                        Snackbar.Add($"Successfully.", Severity.Success);
                    }
                    else
                    {
                        Snackbar.Add($"Failed. {payindret.ResultCode.Humanize()}", Severity.Error);
                    }
                }
            }
            // TODO: after finished trading, action is comment
        }
        catch(Exception ex)
        {
            Snackbar.Add($"Failed, please retry. {ex.Message}", Severity.Error);
        }
    }

    private async Task UploadFiles(InputFileChangeEventArgs e)
    {
        var entries = e.GetMultipleFiles();
        //Do your validations here
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
        //Snackbar.Add($"Files with {entries.FirstOrDefault().Size} bytes size are not allowed", Severity.Error);
        //Snackbar.Add($"Files starting with letter {entries.FirstOrDefault().Name.Substring(0, 1)} are not recommended", Severity.Warning);
        //Snackbar.Add($"This file has the extension {entries.FirstOrDefault().Name.Split(".").Last()}", Severity.Info);

        //TODO upload the files to the server
        var dealer = connMgr.GetDealer(trade.Trade.dealerId);
        var wallet = walletState.Value.wallet;
        foreach (var f in entries)
        {
            try
            {
                int MAXALLOWEDSIZE = 5 * 1024 * 1024;      // 5MB

                if(f.Size > MAXALLOWEDSIZE)
                {
                    Snackbar.Add($"Files {f.Name} with {f.Size} bytes size are not allowed. (Max {MAXALLOWEDSIZE:N})", Severity.Error);
                    continue;
                }

                using (var stream = f.OpenReadStream(MAXALLOWEDSIZE))
                {
                    using (var memoryStream = new MemoryStream())
                    {
                        await stream.CopyToAsync(memoryStream);
                        var imageData = memoryStream.ToArray();

                        string hash, signature;
                        using (var sha = SHA256.Create())
                        {
                            byte[] hash_bytes = sha.ComputeHash(imageData);
                            hash = Base58Encoding.Encode(hash_bytes);
                        }
                        signature = PortableSignatures.GetSignature(wallet.PrivateKey, hash);

                        var ret = await dealer.UploadImageAsync(wallet.AccountId, signature, tradeid,
                            f.Name, imageData, f.ContentType);
                        if (ret.Successful())
                        {
                            var lastHash = messages.Count > 0 ? messages.Last().Get().Hash : null;
                            var filemsg = new FileMessage
                                {
                                    PrevHash = lastHash,
                                    TradeId = tradeid,
                                    AccountId = wallet.AccountId,
                                    FileHash = ret.Hash,
                                };
                            filemsg.Sign(walletState.Value.wallet.PrivateKey, walletState.Value.wallet.AccountId);
                            await connMgr.SendFile(trade.Trade.dealerId, filemsg);
                        }
                        else
                        {
                            Snackbar.Add($"Failed to upload image: {ret.ResultCode.Humanize()}", Severity.Error);
                        }
                    }
                }
            }
            catch (Exception ex)
            {
                Snackbar.Add($"Upload image error: {ex.Message}");
            }
        }
    }

    private async Task Zoom(string url)
    {
        fpstyle = $"background-image: url(\"{url}\"); display: block;";
    }

    private void CloseFP()
    {
        fpstyle = $"display: none;";
    }

    private async Task GetTradeBrief()
    {
        var lsbret = await lyraApi.GetLastServiceBlockAsync();
        if (lsbret.Successful())
        {
            var lsb = lsbret.GetBlock() as ServiceBlock;
            var wallet = walletState.Value.wallet;
            var sign = Signatures.GetSignature(wallet.PrivateKey, lsb.Hash, wallet.AccountId);

            var tradeblk = await lyraApi.GetLastBlockAsync(tradeid);
            trade = tradeblk.As<IOtcTrade>();
            var dealer = connMgr.GetDealer(trade.Trade.dealerId);

            var ret = await dealer.GetTradeBriefAsync(tradeid, wallet.AccountId, sign);
            if(ret.Successful())
            {
                brief = ret.Deserialize<TradeBrief>();
                if (wallet.AccountId == brief.Members.First())
                    role = "Seller";
                else
                    role = "Buyer";
            }             
        }
    }

    private async Task CancelTrade()
    {
        // ask if user really want to
        var result = await DialogService.ShowMessageBox(
        "Warning",
            $"You can only request to cancel trade without reply after 10 minutes.",
            yesText: "Confirm!", cancelText: "Cancel");

        if (result != null && result.Value)
        {
            var tradeblk = (await walletState.Value.wallet.RPC.GetLastBlockAsync(tradeid)).As<IOtcTrade>();
            var cclret = await walletState.Value.wallet.CancelOTCTradeAsync(tradeblk.Trade.daoId, tradeblk.Trade.orderId, tradeid);
            if(cclret.Successful())
            {
                Snackbar.Add($"Trade was canceled.", Severity.Success);
            }
            else
            {
                Snackbar.Add($"Unable to cancel trade: {cclret.ResultCode.Humanize()}", Severity.Warning);
            }
        }
    }

    private async Task Complaint()
    {
        Snackbar.Add($"Getting latest status...", Severity.Info);
        
        var tradeblk = (await walletState.Value.wallet.RPC.GetLastBlockAsync(tradeid)).As<IOtcTrade>();
        brief = null;
        await GetTradeBrief();
        if(brief == null)
        {
            Snackbar.Add($"Unable to get latest status. Please retry later.", Severity.Warning);
            return;
        }

        if(brief.DisputeLevel == DisputeLevels.None)
        {
            // ask for lost
            var result = await DialogService.ShowMessageBox(
                    "Warning",
                        @$"You will inform your trade peer that there is an potential dispute.",
                        yesText: "Confirm!", cancelText: "Cancel");
            if (result != null && result.Value)
            {
                await Send($"/complaint {tradeblk.Trade.collateral}");
            }
        }
        else if(brief.DisputeLevel == DisputeLevels.Peer)
        {
            var result = await DialogService.ShowMessageBox(
                    "Warning",
                        @$"Trade will be suspended. DAO owner will be invited as mediator to help resolve the dispute.",
                        yesText: "Confirm!", cancelText: "Cancel");
            if (result != null && result.Value)
            {
                var crdptret = await walletState.Value.wallet.OTCTradeRaiseDisputeAsync(tradeid);
                if(crdptret.Successful())
                {
                    await Send($"/complaint {tradeblk.Trade.collateral}");
                }
                else
                {
                    Snackbar.Add($"Unable to change trade: {crdptret.ResultCode.Humanize()}", Severity.Error);
                    return;
                }
            }
        }


    }
}
