@namespace UserLibrary.Components
@inherits FluxorComponent

@using Fluxor
@using Fluxor.Blazor.Web.Components
@using Lyra.Core.API
@using Lyra.Core.Blocks
@using Lyra.Data.API
@using Lyra.Data.Crypto
@using Microsoft.Extensions.Configuration
@using Nebula.Store.WebWalletUseCase
@using UserLibrary.Data
@inject IConfiguration _config
@inject ILyraAPI lyraClient
@implements IDisposable

@if (busy)
{
    <div style="z-index: 5;" class="spinner"></div>
}

<div class="swc mud-elevation-2">
    <div class="rndcc mud-elevation-2">
        <div class="ipt">
            <div>
                <MudNumericField T="decimal" HideSpinButtons="true"
                                 Style="font-size: 28px; margin-top: 0px; font-weight: 500;" DisableUnderLine
                                 Value="@amount1" ValueChanged="@(async (a) => await updateDig1(a))" />
            </div>
            <div class="algb algb2">
                <TokenSelect Tokens="@tickers" @ref="@sel1" ValueChanged="@(async(a) => await UpdateTicker1(a))" />

            </div>
        </div>
        <div class="ipt">
            <div title="Estimated total value. Only for reference.">@value1</div>
            @if (walletState.Value.wallet != null)
            {
                <div>
                    Balance: @($"{balance1:N4}")
                </div>
            }
        </div>
    </div>
    <div>
        <div class="arrdir1">
            <MudIcon Icon="@Icons.Filled.ArrowDownward" Color="Color.Secondary"
                     Size="Size.Medium" Style="mud-elevation-2"
                     @onclick="@DoSwapTicker"></MudIcon>
        </div>
    </div>

    <div class="rndcc mud-elevation-2">
        <div class="ipt">
            <div>
                <MudNumericField T="decimal" HideSpinButtons="true"
                                 Style="font-size: 28px; margin-top: 0px; font-weight: 500;"
                                 DisableUnderLine Value="@amount2" ValueChanged="@(async (a) => await updateDig2(a))" />
            </div>
            <div class="algb algb2">
                <TokenSelect Tokens="@tickers" @ref="@sel2" ValueChanged="@(async(a) => await UpdateTicker2(a))" />
            </div>
        </div>
        <div class="ipt">
            <div title="Estimated total value. Only for reference.">@value2</div>
            @if (walletState.Value.wallet != null)
            {
                <div>
                    Balance: @($"{balance2:N4}")
                </div>
            }
        </div>
    </div>
    <div style="padding: 30px">
        @if (walletState.Value.wallet == null)
        {
            <a href="/wallet">
                <MudButton Variant="Variant.Filled" FullWidth="true" 
                    Color="Color.Primary" Size="Size.Large" class="rounded-pill">
                    <MudIcon Icon="@Icons.Filled.LockOpen" Title="Unlock" />
                    Open Wallet
                </MudButton>
            </a>
        }
        else
        {
            <MudButton Variant="Variant.Filled" FullWidth="true" Disabled="@(!canswap || swapping)" 
                Color="Color.Primary" Size="Size.Large" OnClick="@DoSwap" class="rounded-pill">

                @if (swapping)
                {
                    <MudProgressCircular Color="Color.Secondary" Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                    <MudText Class="ms-2">Processing</MudText>
                }
                else
                {
                    <MudIcon Icon="@Icons.Filled.SwapCalls" Title="Swap" />
                    <MudText>Swap</MudText>
                }
            </MudButton>
        }
    </div>

        <MudExpansionPanel>
            <TitleContent>
                <div>
                    <div class="d-flex">
                        <MudIcon Icon="@Icons.Material.Filled.Info" class="mr-3"></MudIcon>
                        <MudText><strong>@expandTitle</strong></MudText>
                    </div>
@if(updating)
                    {
                    <div style="position:absolute;left:0;top:-28px;z-index:20;width:100%;">
                        <MudProgressLinear Color="Color.Info" Style="height: 2px;" Indeterminate="true" Class="my-7" />
                    </div>
                    }

                </div>
            </TitleContent>
            <ChildContent>
                <div style="font-size: smaller; padding: 15px;">
                    <div class="ipt" title="Price queried from CoinGecko. Only for reference.">
                        <div>LYR external price</div>
                        <div>$ @lyrprice</div>
                    </div>
                    <div class="ipt" title="Price calculated from liquidate pool. Only for reference.">
                        <div>LYR internal price</div>
                        <div>$ @lyrintprice</div>
                    </div>
                    <MudDivider Class="ma-2" />
                    @if (haspoolinfo)
                    {
                        <div class="ipt">
                            <div>Token Pair</div>
                            <div>@pairinfo</div>
                        </div>
                        @if (poollatest != null && amount1 != 0)
                        {
                            <div class="ipt">
                                <div>Estimated ratio</div>
                                <div>@calprice</div>
                            </div>
                            <div class="ipt">
                                <div>You will sell</div>
                                <div>@calsell</div>
                            </div>
                            <div class="ipt">
                                <div>You will get</div>
                                <div>@calget</div>
                            </div>
                            <div class="ipt">
                                <div>Price Impact</div>
                                <div>@calimpact</div>
                            </div>
                            <div class="ipt">
                                <div>Pool Fee</div>
                                <div>@calprofee</div>
                            </div>
                            <div class="ipt">
                                <div>Network Fee</div>
                                <div>@calnodfee</div>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex justify-center">
                                <div>Please change swap amount</div>
                            </div>
                        }
                    }

                    @if (haspoolinfo)
                    {
                        <MudDivider Class="ma-2" />
                        <div class="iptct">
                            <div>Total Liquidate</div>
                            <div>@pairliquid</div>
                        </div>

                        <div class="ipt">
                            <div>Your Share</div>
                            <div>@pairshare</div>
                        </div>
                    }
                    else
                    {
                        <div>
                            <div style="align-content:center;">Please select a token pair.</div>
                        </div>
                    }

                </div>
            </ChildContent>
        </MudExpansionPanel>
</div>

@code {
    [Inject]
    private IState<WebWalletState> walletState { get; set; }

    [Inject]
    private IDispatcher Dispatcher { get; set; }

    [Inject] ISnackbar Snackbar { get; set; }
    [Inject] ILyraAPI lyraApi { get; set; }
    double intervalBeforeMsgClose = 2000;

    bool busy, updating;

    RenderFragment expandTitle =
    @<div>Please chose what to swap.</div>
    ;
    RenderFragment value1, value2;

    decimal lyrprice, trxprice, lyrintprice;   // int price: internal price calculated by pool
    decimal balance1, balance2;
    TokenSelect sel1, sel2;
    List<Ticker> tickers;
    Ticker selectedTicker1;
    Ticker selectedTicker2;

    RenderFragment pairinfo, pairliquid, pairshare;
    bool haspoolinfo = false;
    bool canswap;
    bool swapping;

    RenderFragment calprice, calsell, calget, calimpact, calprofee, calnodfee;

    string token0, token1;
    TransactionBlock poollatest;
    decimal price;
    decimal minrecv;
    decimal lyraprice;

    private decimal amount1 = 0.0m, amount2 = 0.0m;

    async Task updateDig1(decimal digi1)
    {
        amount1 = digi1;
        await UpdatePool(true);
    }
    async Task updateDig2(decimal digi2)
    {
        amount2 = digi2;
        await UpdatePool(false);
    }

    protected override void OnInitialized()
    {
        Dispatcher.Dispatch(new WebWalletChangeTitleAction { title = "Lyra Swap" });

        SubscribeToAction<RespQuote>(
            async (e) =>
            {
                try
                {
                    // price updated
                    trxprice = e.Prices["TRX"];
                    lyrprice = e.Prices["LYR"];
                    lyrintprice = e.Prices["LYR_INT"];

                    // update pool
                    //_ = Task.Run(async () =>
                    await UpdatePool(true);
                }
                catch{}
            }
        );

        base.OnInitialized();
    }

    public void Dispose()
    {

    }

    async void HandleJobExecuted(object sender, JobExecutedEventArgs e)
    {

    }

    private void updateBtn1()
    {
        if (selectedTicker1 != null && poollatest != null && amount1 > 0 && token0 != null)
        {
            var swapcal = new SwapCalculator(token0, token1, poollatest,
                selectedTicker1.dbname, amount1, 0);
            amount2 = swapcal.MinimumReceived;

            canswap = amount1 > 0 && amount1 <= balance1
            && selectedTicker1 != null && selectedTicker2 != null
                && selectedTicker1 != selectedTicker2;
        }
        else if (selectedTicker1 == selectedTicker2)
        {
            amount2 = amount1;
            canswap = false;
        }
        else
        {
            amount2 = 0.0m;
            canswap = false;
        }
    }

    private void updateBtn2()
    {
        if (selectedTicker2 != null && poollatest != null && amount2 >= 0 && token0 != null)
        {
            var swapcal = new SwapCalculator(token0, token1, poollatest,
                selectedTicker2.dbname, amount2, 0);

            amount1 = swapcal.MinimumReceived;

            canswap = amount2 > 0 && amount2 < balance2
                && selectedTicker1 != null && selectedTicker2 != null
                && selectedTicker1 != selectedTicker2;
        }
        else
        {
            amount1 = 0.0m;
            canswap = false;
        }
    }

    private async Task UpdateTicker1(Ticker tk1)
    {
        selectedTicker1 = tk1;
        await UpdatePool(true);
    }

    private async Task UpdateTicker2(Ticker tk2)
    {
        selectedTicker2 = tk2;
        await UpdatePool(true);
    }

    private void UpdateValue()
    {
        if (selectedTicker1 == null)
        {
            value1 =
    @<div></div>
    ;
        }
        else
        {
            decimal val1 = 0;
            if (selectedTicker1.dbname == "LYR")
                val1 = lyrprice;
            else if (selectedTicker1.dbname == "tether/TRX")
                val1 = trxprice;
            else if (selectedTicker1.dbname == "tether/USDT")
                val1 = 1m;
            else if (price > 0)
            {
                // then ticker2 is LYR. price is x tik1 to 1 tik2
                val1 = lyrprice / price;
            }

            if (amount1 == 0)
            {
                value1 =
    @<div></div>
    ;
            }
            else
            {
                var val1str = $"{Math.Round(val1 * amount1, 2)}";
                value1 =
    @<div>~$ @val1str</div>
    ;
            }

        }

        if (selectedTicker2 == null)
        {
            value2 =
    @<div></div>
    ;
        }
        else
        {
            decimal val2 = 0;
            if (selectedTicker2.dbname == "LYR")
                val2 = lyrprice;
            else if (selectedTicker2.dbname == "tether/TRX")
                val2 = trxprice;
            else if (selectedTicker2.dbname == "tether/USDT")
                val2 = 1m;
            else if (price > 0)
            {
                // then ticker1 is LYR. price is x tik1 to 1 tik2
                val2 = lyrprice * price;
            }

            if (amount2 == 0)
            {
                value2 =
    @<div></div>
    ;
            }
            else
            {
                var val2str = $"{Math.Round(val2 * amount2, 2)}";
                value2 =
    @<div>~$ @val2str</div>
    ;
            }
        }
    }

    private void DoSwapTicker()
    {
        (selectedTicker1, selectedTicker2) = (selectedTicker2, selectedTicker1);
        (sel1.Value, sel2.Value) = (sel2.Value, sel1.Value);
        (amount1, amount2) = (amount2, amount1);
        UpdateBalance();
        updateBtn1();
        UpdateValue();
    }

    private string GN(string dbname)
    {
        return dbname.Replace("tether/", "$");
    }

    private async Task DoSwap()
    {
        swapping = true;
        busy = true;
        var result = await walletState.Value.wallet.SwapTokenAsync(token0, token1,
            selectedTicker1.dbname, amount1, minrecv);

        if (result.Successful())
        {
            Snackbar.Add("Token Swap Success! Waiting for pool updating...", Severity.Success);
            await Task.Delay(3000);

            Snackbar.Add("Refresh pool and wallet...", Severity.Info);
            await walletState.Value.wallet.SyncAsync(null);

            var existspool = await lyraApi.GetPoolAsync(selectedTicker1.dbname, selectedTicker2.dbname);
            if (existspool.Successful())
            {
                Snackbar.Add("Updated.", Severity.Success);

                poollatest = existspool.GetBlock() as TransactionBlock;
                token0 = existspool.Token0;
                token1 = existspool.Token1;
                CreatePoolInfo(poollatest);
            }
            else
            {
                Snackbar.Add($" Pool refresh failed: {existspool.ResultCode}", Severity.Error);
            }

            updateBtn1();
            UpdateBalance();

            swapping = false;
        }
        else
            Snackbar.Add($"Error Swap Token: {result.ResultCode}", Severity.Error);

        swapping = false;
        busy = false;
    }

    private void updateTradeInfo()
    {
        if (selectedTicker1 != null && amount1 > 0 && token0 != null)
        {
            var fromticker = selectedTicker1;
            var swapcal = new SwapCalculator(token0, token1, poollatest,
                fromticker.dbname, amount1, 0);
            var sell = $"{amount1} {fromticker}";
            calsell =
    @<div>@sell</div>
    ;

            price = swapcal.Price;
            var pricestr = $"{Math.Round(price, 8)} {selectedTicker1} per {selectedTicker2}";
            calprice =
    @<div>@pricestr</div>
    ;

            minrecv = swapcal.MinimumReceived;
            var minget = $"{swapcal.MinimumReceived} {selectedTicker2}";
            calget =
    @<div>@minget</div>
    ;

            var imp = $"{swapcal.PriceImpact * 100} %";
            calimpact =
    @<div>@imp</div>
    ;

            var feen = $"{swapcal.PayToAuthorizer} LYR";
            var feep = $"{swapcal.PayToProvider} {fromticker}";
            calnodfee =
    @<div>@feen</div>
    ;
            calprofee =
    @<div>@feep</div>
    ;
        }


    }

    private async Task UpdatePool(bool Is1)
    {
        while(updating)
        {
            await Task.Delay(100);
        }
        updating = true;
        Console.WriteLine("Begin Update Pool");
        await InvokeAsync(() => StateHasChanged());

        if (!busy && selectedTicker1 != null && selectedTicker2 != null && selectedTicker1 != selectedTicker2)
        {
            busy = true;

            try
            {
                var existspool = await lyraApi.GetPoolAsync(selectedTicker1.dbname, selectedTicker2.dbname);
                if (existspool.Successful() && existspool.BlockData != null)
                {
                    poollatest = existspool.GetBlock() as TransactionBlock;
                    token0 = existspool.Token0;
                    token1 = existspool.Token1;
                }
                else
                {
                    haspoolinfo = false;
                    poollatest = null;
                    token0 = null;
                    token1 = null;
                }

                CreatePoolInfo(poollatest);

                UpdateBalance();
                updateTradeInfo();
            }
            catch (Exception ex)
            {
                Console.WriteLine($"In UpdatePool: {ex}");
            }
            finally
            {
                busy = false;
                await InvokeAsync(() => StateHasChanged());
            }
        }
        else
        {
            haspoolinfo = false;
            poollatest = null;
            token0 = null;
            token1 = null;
        }

        try
        {
            if (Is1)
                updateBtn1();
            else
                updateBtn2();

            UpdateValue();
        }
        catch(Exception ex)
        {
            Console.WriteLine($"In UpdatePool 2: {ex}");
        }
        
        if (!haspoolinfo || amount1 == 0)
            expandTitle =
    @<div>Please chose what to swap.</div>
    ;
        else
            expandTitle = calprice;

        updating = false;
        await InvokeAsync(() => StateHasChanged());
    }

    private void UpdateBalance()
    {
        if (walletState.Value.wallet != null)
        {
            var blk = walletState.Value.wallet.GetLastSyncBlock();

            if (selectedTicker1 != null)
                if (blk != null && blk.Balances.ContainsKey(selectedTicker1.dbname))
                    balance1 = blk.Balances[selectedTicker1.dbname].ToBalanceDecimal();
                else
                    balance1 = 0;

            if (selectedTicker2 != null)
                if (blk != null && blk.Balances.ContainsKey(selectedTicker2.dbname))
                    balance2 = blk.Balances[selectedTicker2.dbname].ToBalanceDecimal();
                else
                    balance2 = 0;

            //Dispatcher.Dispatch(new WebWalletRefreshBalanceAction { wallet = walletState.Value.wallet });
        }

        //InvokeAsync(() => StateHasChanged());
    }



    private async Task OpenSwapUI()
    {
        busy = true;

        // for api sign only
        var pk = "n4uh7o2kAerPZQSNBRirzA3pSUBEuEhs6r7oRwpV6Dgbs3FvY";
        var pub = "LBRzScs8NwMcr7U8i9a8sSWETseWf3TLge4CVJy6as24hSB4hwtZ5jKTbHJdoVZBJiNC2LpjN9MQB719Py9YxXo2xpLxnS";

        var lsbret = await lyraApi.GetLastServiceBlockAsync();

        var sign = Signatures.GetSignature(pk, (lsbret.GetBlock() as ServiceBlock).Hash, pub);
        var tokens = await lyraApi.GetTokenNamesAsync(pub, sign, "(null)");

        tickers = tokens.Entities
            .Where(a => !a.StartsWith("unittest/"))
            .Select(a => new Ticker
                {
                    dbname = a,
                    Name = a.Replace("tether/", "$")
                })
            .OrderBy(a => a.Name)
            .ToList();
        tickers.Insert(0, new Ticker { dbname = "LYR", Name = "LYR" });


        busy = false;
    }

    bool init;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !init)
        {
            init = true;
            Snackbar.Add($"Initialize Swap App... ", Severity.Info);

            try
            {
                if (walletState.Value.wallet != null)
                    await walletState.Value.wallet.SyncAsync(null);
                await OpenSwapUI();

                // fetch latest price
                try
                {
                    var dc = new DealerClient(_config["network"]);
                    var prices = await dc.GetPricesAsync();
                    lyrintprice = prices["LYR_INT"];
                    lyrprice = prices["LYR"];
                }
                catch(Exception ex)
                {
                    Snackbar.Add($"Error get latest price: {ex.Message}", Severity.Warning);
                }


                Snackbar.Add($"Swap App is ready. ", Severity.Success);
            }
            catch (Exception ex)
            {
                Snackbar.Add($"Init refresh failed: {ex.Message}", Severity.Error);
            }

            StateHasChanged();
            init = false;
        }
    }


    private void CreatePoolInfo(TransactionBlock platest)
    {
        if (platest != null)
        {
            var info = $"{GN(token0)} vs {GN(token1)}";
            pairinfo =
    @<div>@info</div>
    ;

            if (platest.Balances.ContainsKey(token0))
            {
                var line1 = $"{platest.Balances[token0].ToBalanceDecimal()} {GN(token0)}";
                var line2 = $"{platest.Balances[token1].ToBalanceDecimal()} {GN(token1)}";
                pairliquid =
    @<div style="text-align:end">
        <div>@line1</div>
        <div>@line2</div>
    </div>
    ;
            }
            else
            {
                pairliquid =
    @<div>No Liquidate in Pool</div>
    ;
            }
        }
        else
        {
            pairinfo =
    @<div>No pool for selected token pair.</div>
    ;

            pairliquid =
    @<div>No Liquidate in Pool</div>
    ;
        }


        var pool = platest as IPool;
        if (pool != null && walletState.Value.wallet != null)
        {
            if (pool.Shares.ContainsKey(walletState.Value.wallet.AccountId))
            {
                var shareinfo = $"{Math.Round(pool.Shares[walletState.Value.wallet.AccountId].ToRitoDecimal() * 100, 4)} %";
                pairshare =
    @<div>@shareinfo</div>
    ;
            }
            else
            {
                pairshare =
    @<div>No Share in Pool</div>
    ;
            }
        }
        else
        {
            pairshare =
    @<div>No Share in Pool</div>
    ;
        }

    ;

        haspoolinfo = platest != null;
    }
}
