@page "/"
@using Fluxor
@using Nebula.Store.WebWalletUseCase

<div class="mag">


    <MudGrid>
        @foreach (var kvp in Apps)
        {
            <MudItem xs="4">
                <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 rounded-xl"
                    Style="@($"color:{Theme.Palette.SuccessLighten}; background:{Theme.Palette.Dark};")">
                    <MudLink Href="@kvp.link" Underline="Underline.None">
                        <div class="progicon align-center" Style="@($"color:{Theme.Palette.SuccessLighten};")">
                            <MudIcon Icon="@kvp.icon" Style="font-size: 4rem;" Title="@kvp.name"/>
                            <MudText Style="font-size: large;">@kvp.name</MudText>
                        </div>
                    </MudLink>
                </MudPaper>
            </MudItem>
        }

             <MudItem xs="4">
                <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 rounded-xl"
                    Style="@($"color:{Theme.Palette.SuccessLighten}; background:{Theme.Palette.Dark};")">
                    <a href="https://lyra.live">
                        <div class="progicon align-center" style="@($"color:{Theme.Palette.SuccessLighten};")">
<svg t="1639844582429" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2070" width="64" height="64"><path d="M512 85.333333a362.666667 362.666667 0 0 1 362.666667 362.666667c0 277.333333-234.666667 512-362.666667 512s-362.666667-234.666667-362.666667-512A362.666667 362.666667 0 0 1 512 85.333333z m0 85.333334a277.333333 277.333333 0 0 0-277.333333 277.333333c0 204.544 177.706667 426.666667 277.333333 426.666667s277.333333-222.122667 277.333333-426.666667A277.333333 277.333333 0 0 0 512 170.666667z m234.666667 298.666666c6.826667 0 13.610667 0.341333 20.266666 1.066667a192 192 0 0 1-211.2 211.2A192 192 0 0 1 746.666667 469.333333z m-469.333334 0a192 192 0 0 1 190.933334 212.266667 192 192 0 0 1-211.2-211.2C263.68 469.674667 270.506667 469.333333 277.333333 469.333333z" p-id="2071" fill="#1afa29"></path></svg>                        </div>
<div style="color: #1afa29">Lyra Site</div>                    
</a>
                </MudPaper>
            </MudItem>

             <MudItem xs="4">
                <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 rounded-xl"
                    Style="@($"color:{Theme.Palette.SuccessLighten}; background:{Theme.Palette.Dark};")">
                    <a href="https://nebula.lyra.live">
                        <div class="progicon align-center" style="@($"color:{Theme.Palette.SuccessLighten};")">
<svg t="1639845106953" class="icon" viewBox="0 0 1043 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4932" width="64" height="64"><path d="M521.029772 0a404.644746 404.644746 0 0 1 404.644746 399.662399H944.366461a97.693082 97.693082 0 0 1 97.693082 97.693082v32.206153a97.660518 97.660518 0 0 1-97.693082 97.693082l-225.801277-0.032564 173.535478 348.015323a32.564361 32.564361 0 0 1-56.368908 32.368975l-1.888733-3.321565-186.430965-373.708604H394.680052L208.249087 1004.284885a32.564361 32.564361 0 0 1-59.755602-25.563023l1.49796-3.484387 173.502914-348.015323L97.693082 627.254716a97.693082 97.693082 0 0 1-97.693082-97.693082v-32.206153a97.693082 97.693082 0 0 1 97.693082-97.693082l18.757072-0.032564 0.065129-4.949783A404.644746 404.644746 0 0 1 521.029772 0m0 874.190264a32.629489 32.629489 0 0 1 32.368974 28.786895l0.195386 3.777465v30.252291a32.564361 32.564361 0 0 1-64.900771 3.777466L488.465411 937.006915v-30.252291a32.596925 32.596925 0 0 1 32.564361-32.56436m177.833973-24.586093l1.497961 3.516951 5.926714 16.184488a32.564361 32.564361 0 0 1-59.690473 25.790973l-1.497961-3.516951-5.926714-16.184487a32.564361 32.564361 0 0 1 59.690473-25.790974m-322.224349-15.956536a32.596925 32.596925 0 0 1 19.440923 41.74751l-5.926713 16.184487a32.564361 32.564361 0 1 1-61.188434-22.274022l5.926714-16.184488a32.564361 32.564361 0 0 1 41.74751-19.473487M521.029772 677.403832a32.564361 32.564361 0 0 1 32.368974 28.786895l0.195386 3.777466v99.093349a32.564361 32.564361 0 0 1-64.900771 3.842595L488.465411 809.061542v-99.093349a32.564361 32.564361 0 0 1 32.564361-32.564361m111.728321 6.610565l1.595654 3.484387 25.107122 65.812573a32.564361 32.564361 0 0 1-59.267136 26.73534l-1.56309-3.484387-25.139686-65.812573a32.564361 32.564361 0 0 1 59.267136-26.73534m-189.817658-15.30525a32.564361 32.564361 0 0 1 18.8222 42.04059l-25.139686 65.812573a32.564361 32.564361 0 0 1-60.862791-23.250953l25.139687-65.812573a32.564361 32.564361 0 0 1 42.04059-18.789637M944.366461 464.791121H97.693082a32.564361 32.564361 0 0 0-32.564361 32.56436v32.206153a32.564361 32.564361 0 0 0 32.564361 32.564361h846.673379a32.564361 32.564361 0 0 0 32.564361-32.564361v-32.206153a32.564361 32.564361 0 0 0-32.564361-32.56436M539.265814 132.439255a32.564361 32.564361 0 0 0 0 65.128722 167.934408 167.934408 0 0 1 119.804283 50.051422 32.564361 32.564361 0 1 0 46.306521-45.785491 232.835179 232.835179 0 0 0-166.110804-69.394653" fill="#1afa29" p-id="4933"></path></svg>
<div style="color: #1afa29">Nebula</div>  
    </div>
</a>
                </MudPaper>
            </MudItem>

    </MudGrid>

</div>

@code {
    [Inject]
    private IDispatcher Dispatcher { get; set; }

    private MudTheme Theme = new MudTheme();

    (string name, string link, string icon)[] Apps;

    protected override void OnInitialized()
    {
        Apps = new (string name, string link, string icon)[]
            {
                ("Swap", "/swap", Icons.Filled.SwapCalls),
                ("Wallet", "/wallet", Icons.Filled.AccountBalanceWallet),
                ("DEX", "/dex", Icons.Filled.Money),
                ("Staking", "/staking", Icons.Filled.WhereToVote),
                ("DAO", "/dao", Icons.Filled.AppRegistration),
                ("Mint", "/mint", Icons.Filled.GeneratingTokens),
                ("Revenue", "/profit", Icons.Filled.CalendarViewMonth),
                ("Settings", "/settings", Icons.Filled.Settings),

            };

        Dispatcher.Dispatch(new WebWalletChangeTitleAction { title = "Lyra" });

        base.OnInitialized();
    }
}