@page "/v1"
@using Fluxor
@using Nebula.Store.WebWalletUseCase

<div class="mag">

    <MudGrid>
        @foreach (var kvp in Apps)
        {
            <MudItem xs="4">
                <MudLink Href="@kvp.link" Underline="Underline.None">
                <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 rounded-xl"
                    Style="@($"color:{Theme.Palette.Primary}; background:{Theme.Palette.GrayLighter};")">
                        <div class="progicon align-center">
                            <MudIcon Icon="@kvp.icon" Style="font-size: 4rem;" Title="@kvp.name"/>
                            <MudText Style="font-size: large; white-space: nowrap;">@kvp.name</MudText>
                        </div>                    
                </MudPaper>
                </MudLink>
            </MudItem>
        }

             <MudItem xs="4">
                 <a href="/nft">
                <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 rounded-xl"
                          Style="@($"color:{Theme.Palette.Primary}; background:{Theme.Palette.GrayLighter};")">

                    <div class="progicon align-center">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="64" height="64" viewBox="0 0 64 64" xml:space="preserve"><defs /><g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)"><path fill="@($"{Theme.Palette.Primary}")" d="M11.25 22.5c-0.301 0 -0.603 -0.078 -0.872 -0.233L2.145 17.514c-0.538 -0.31 -0.872 -0.889 -0.872 -1.51V6.497c0 -0.621 0.334 -1.2 0.872 -1.51L10.378 0.233c0.538 -0.31 1.206 -0.311 1.744 0L20.355 4.986c0.538 0.31 0.872 0.889 0.872 1.51v9.507c0 0.621 -0.334 1.2 -0.872 1.51L12.122 22.267C11.853 22.422 11.552 22.5 11.25 22.5zM11.25 1.5c-0.042 0 -0.084 0.011 -0.122 0.033L2.895 6.285c-0.075 0.043 -0.122 0.124 -0.122 0.211v9.507c0 0.087 0.047 0.168 0.122 0.211l8.233 4.754c0.075 0.043 0.169 0.043 0.244 0L19.605 16.215c0.075 -0.043 0.122 -0.124 0.122 -0.211V6.497c0 -0.087 -0.047 -0.168 -0.121 -0.211L11.372 1.532C11.334 1.51 11.292 1.5 11.25 1.5z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" /><path fill="@($"{Theme.Palette.Primary}")" d="M8.03 14.616c-0.255 0 -0.498 -0.13 -0.637 -0.354l-1.859 -2.996v2.6c0 0.414 -0.336 0.75 -0.75 0.75c-0.414 0 -0.75 -0.336 -0.75 -0.75V8.634c0 -0.335 0.222 -0.629 0.544 -0.721c0.323 -0.091 0.666 0.041 0.843 0.326l1.859 2.996V8.634c0 -0.414 0.336 -0.75 0.75 -0.75c0.414 0 0.75 0.336 0.75 0.75v5.231c0 0.335 -0.222 0.629 -0.544 0.721C8.168 14.606 8.099 14.616 8.03 14.616z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" /><path fill="@($"{Theme.Palette.Primary}")" d="M10.559 14.616c-0.414 0 -0.75 -0.336 -0.75 -0.75V8.634c0 -0.414 0.336 -0.75 0.75 -0.75h2.08c0.414 0 0.75 0.336 0.75 0.75s-0.336 0.75 -0.75 0.75h-1.33v4.481C11.309 14.28 10.973 14.616 10.559 14.616z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" /><path fill="@($"{Theme.Palette.Primary}")" d="M12.639 12h-2.08c-0.414 0 -0.75 -0.336 -0.75 -0.75c0 -0.414 0.336 -0.75 0.75 -0.75h2.08c0.414 0 0.75 0.336 0.75 0.75C13.389 11.664 13.053 12 12.639 12z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" /><path fill="@($"{Theme.Palette.Primary}")" d="M17.716 9.384H14.743c-0.414 0 -0.75 -0.336 -0.75 -0.75s0.336 -0.75 0.75 -0.75h2.973c0.414 0 0.75 0.336 0.75 0.75S18.131 9.384 17.716 9.384z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" /><path fill="@($"{Theme.Palette.Primary}")" d="M16.23 14.616c-0.414 0 -0.75 -0.336 -0.75 -0.75V8.634c0 -0.414 0.336 -0.75 0.75 -0.75c0.414 0 0.75 0.336 0.75 0.75v5.231C16.98 14.28 16.644 14.616 16.23 14.616z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" /></g></svg>
                        <MudText Style="font-size: large; white-space: nowrap;">@localizer["NFT"]</MudText>
                    </div>
                </MudPaper>
                </a>
            </MudItem>

             <MudItem xs="4">
                 <a href="https://nebula.lyra.live">
                <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 rounded-xl"
                          Style="@($"color:{Theme.Palette.Primary}; background:{Theme.Palette.GrayLighter};")">

                    <div class="progicon align-center">
                        <svg t="1639845106953" class="icon" viewBox="0 0 1043 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4932" width="64" height="64"><path d="M521.029772 0a404.644746 404.644746 0 0 1 404.644746 399.662399H944.366461a97.693082 97.693082 0 0 1 97.693082 97.693082v32.206153a97.660518 97.660518 0 0 1-97.693082 97.693082l-225.801277-0.032564 173.535478 348.015323a32.564361 32.564361 0 0 1-56.368908 32.368975l-1.888733-3.321565-186.430965-373.708604H394.680052L208.249087 1004.284885a32.564361 32.564361 0 0 1-59.755602-25.563023l1.49796-3.484387 173.502914-348.015323L97.693082 627.254716a97.693082 97.693082 0 0 1-97.693082-97.693082v-32.206153a97.693082 97.693082 0 0 1 97.693082-97.693082l18.757072-0.032564 0.065129-4.949783A404.644746 404.644746 0 0 1 521.029772 0m0 874.190264a32.629489 32.629489 0 0 1 32.368974 28.786895l0.195386 3.777465v30.252291a32.564361 32.564361 0 0 1-64.900771 3.777466L488.465411 937.006915v-30.252291a32.596925 32.596925 0 0 1 32.564361-32.56436m177.833973-24.586093l1.497961 3.516951 5.926714 16.184488a32.564361 32.564361 0 0 1-59.690473 25.790973l-1.497961-3.516951-5.926714-16.184487a32.564361 32.564361 0 0 1 59.690473-25.790974m-322.224349-15.956536a32.596925 32.596925 0 0 1 19.440923 41.74751l-5.926713 16.184487a32.564361 32.564361 0 1 1-61.188434-22.274022l5.926714-16.184488a32.564361 32.564361 0 0 1 41.74751-19.473487M521.029772 677.403832a32.564361 32.564361 0 0 1 32.368974 28.786895l0.195386 3.777466v99.093349a32.564361 32.564361 0 0 1-64.900771 3.842595L488.465411 809.061542v-99.093349a32.564361 32.564361 0 0 1 32.564361-32.564361m111.728321 6.610565l1.595654 3.484387 25.107122 65.812573a32.564361 32.564361 0 0 1-59.267136 26.73534l-1.56309-3.484387-25.139686-65.812573a32.564361 32.564361 0 0 1 59.267136-26.73534m-189.817658-15.30525a32.564361 32.564361 0 0 1 18.8222 42.04059l-25.139686 65.812573a32.564361 32.564361 0 0 1-60.862791-23.250953l25.139687-65.812573a32.564361 32.564361 0 0 1 42.04059-18.789637M944.366461 464.791121H97.693082a32.564361 32.564361 0 0 0-32.564361 32.56436v32.206153a32.564361 32.564361 0 0 0 32.564361 32.564361h846.673379a32.564361 32.564361 0 0 0 32.564361-32.564361v-32.206153a32.564361 32.564361 0 0 0-32.564361-32.56436M539.265814 132.439255a32.564361 32.564361 0 0 0 0 65.128722 167.934408 167.934408 0 0 1 119.804283 50.051422 32.564361 32.564361 0 1 0 46.306521-45.785491 232.835179 232.835179 0 0 0-166.110804-69.394653" fill="@($"{Theme.Palette.Primary}")" p-id="4933"></path></svg>
                        <MudText Style="font-size: large; white-space: nowrap;">@localizer["Block Explorer"]</MudText>
                    </div>

                </MudPaper>
                </a>
            </MudItem>

    </MudGrid>

</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "ref")]
    public string? reftag { get; set; }

    [Inject]
    private IDispatcher Dispatcher { get; set; }

    [Inject] IStringLocalizer<Entry> localizer { get; set; }

    [Inject] ILocalStorageService localStorage { get; set; }
    [Inject] NebulaConsts _consts { get; set; }

    private MudTheme Theme = new MudTheme();

    (string name, string link, string icon)[] Apps;

    protected override void OnInitialized()
    {
        Apps = new (string name, string link, string icon)[]
            {
                (localizer["swap"], "/swap", Icons.Filled.SwapCalls),
                (localizer["otc"], "/otc", @Icons.Filled.OfflineShare),                
                (localizer["dex"], "/dex", Icons.Filled.Money),
                (localizer["staking"], "/staking", Icons.Filled.WhereToVote),
                (localizer["dao"], "/dao", @Icons.Filled.Groups),
                (localizer["revenue"], "/profit", Icons.Filled.CalendarViewMonth),
                (localizer["mint"], "/mint", Icons.Filled.GeneratingTokens),
                (localizer["wallet"], "/wallet", Icons.Filled.AccountBalanceWallet),
                (localizer["contacts"], "/contact", @Icons.Filled.Contacts),
                (localizer["settings"], "/settings", Icons.Filled.Settings),
            };

        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Dispatcher.Dispatch(new WebWalletChangeTitleAction { title = localizer["Lyra Crypto Portal"] });

            // store ref link if any
            if(!string.IsNullOrWhiteSpace(reftag))
            {
                await localStorage.SetItemAsync("ref", reftag);
            }
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}