@page "/settings"
@using Fluxor
@using Microsoft.Extensions.Configuration
@using Nebula.Store.WebWalletUseCase
@using BlazorZXingJs
@using System.Reflection
@inject NavigationManager Navigation
@inject IConfiguration Configuration

<div class="mag">
    @if (walletState.Value.wallet == null)
    {
        <div>
        <a href="/login">
                <MudButton Variant="MudBlazor.Variant.Filled" FullWidth="true" Color="Color.Primary" class="rounded-pill">
                <MudIcon Icon="@Icons.Filled.LockOpen" />
                    @localizer["Open Wallet"]
            </MudButton>
        </a>
        </div>

            <div>

                <WalletsManager />

            </div>
    }
    else
    {
        <div>
            <h3>@localizer["Scan to Pay Me"]</h3>
            <p><QRCodeWriter Text="@walletState.Value.wallet.AccountId" Width="300" Heigth="300"></QRCodeWriter></p>
            <MudDivider />
            <p>
                @localizer["Current wallet's name is:"] <b>@walletState.Value.wallet.AccountName      </b>
            </p>
            <p>
                @localizer["Current wallet's address is:"] <CopyToClipboard Text="@walletState.Value.wallet.AccountId" />
            </p>
            <p>@localizer["Current wallet's balance is:"] @walletState.Value.balanceString</p>


            <p>
                <div>@localizer["Current voting for:"] @walletState.Value.wallet.VoteFor</div>
                <div>
                    <MudTextField T="string" Label=@localizer["Vote For Address"] @bind-Value="@voteAddr" />
                </div>
                <div>
                    &nbsp;<MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Primary" @onclick="SaveSettings">@localizer["Save"]</MudButton>
                </div>
            </p>

            <div>
                <p style="color: red">@localizer["Please backup private key properly if you want to open this wallet again."]</p>
            </div>
            <MudDivider />

            <MudButton Variant="MudBlazor.Variant.Filled" Disabled="@(fetching)" Color="Color.Primary"
                   OnClick="@(async() => await Transactions())" class="rounded-pill">

                @if (fetching)
                {
                    <MudProgressCircular Color="Color.Secondary" Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                    <MudText Class="ms-2">@localizer["Processing"]</MudText>
                }
                else
                {
                    <MudText>@localizer["Show Last 10 Transactions"]</MudText>
                }
            </MudButton>

            @if (txs != null)
            {
                <pre>
                    @foreach (var tx in txs)
                    {
                        @tx <br />

                    }
                        </pre>
            }
            &nbsp;<a href="/backup"><MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Primary">@localizer["Backup Wallet"]</MudButton></a>

            &nbsp;<MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Primary" @onclick="CloseWallet">@localizer["Close Wallet"]</MudButton>
        </div>
    }

    <MudDivider Style="margin: 30px" />
    <div style="font-size: xx-small">
        <a href="/dealer/panel"><MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Primary">@localizer["Dealer Panel"]</MudButton></a>
    </div>

    <MudDivider Style="margin: 30px" />
    <div style="font-size: xx-small">
        <MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Primary" @onclick="CheckUpdate">@localizer["Check New Version"]</MudButton>
    </div>

    <MudDivider Style="margin: 30px" />
    <div style="font-size: xx-small">
                <div>
            <MudTextField T="string" Label=@localizer["API Key for NFT.Storage"] @bind-Value="@nftapikey" />
                </div>
                <div>
            &nbsp;<MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Primary" @onclick="@(async () => await SaveNftApiKey())">@localizer["Save"]</MudButton>
            &nbsp;            
            <a href="https://nft.storage/">
                <MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Primary">
                    @localizer["Get One"]
                </MudButton>
                </a>

        </div>
    </div>

    <MudDivider Style="margin: 30px" />
    <div style="font-size: xx-small">
        <LanguageSelector />    
    </div>

    <MudDivider Style="margin: 30px" />
    <div style="font-size: xx-small">
        @localizer["Main Program Version:"] @(Assembly.GetEntryAssembly()?.GetName().Version)<br />
        @localizer["User Library Version:"] @(typeof(UserLibrary.Data.WalletView).Assembly.GetName().Version)<br />
        @localizer["Lyra Library Version:"] @(typeof(Lyra.Core.Blocks.Block).Assembly.GetName().Version)<br />
    </div>
</div>
@code {
    [Inject]
    private IState<WebWalletState> walletState { get; set; }

    [Inject]
    private IDispatcher Dispatcher { get; set; }

    [Inject]
    private IJSRuntime JS { get; set; }

    [Inject] private IDialogService DialogService { get; set; }
    [Inject] ISnackbar Snackbar { get; set; }
    [Inject] ILyraAPI lyraApi { get; set; }
    [Inject] DealerConnMgr connMgr { get; set; }

    [Inject] IStringLocalizer<Settings> localizer { get; set; }
    [Inject] ILocalStorageService localStorage { get; set; }

    string voteAddr, altDisplay;
    string bexpurl;
    bool fetching;
    List<string> txs;
    string nftapikey;
    string keyName = "nftstorageapikey";

    protected override void OnInitialized()
    {
        Dispatcher.Dispatch(new WebWalletChangeTitleAction { title = localizer["App Settings"] });
        bexpurl = Configuration["network"] == "mainnet" ? "https://nebula.lyra.live" : "https://nebulatestnet.lyra.live";
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            nftapikey = await localStorage.GetItemAsync<string>(keyName);
            StateHasChanged();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task SaveNftApiKey()
    {
        await localStorage.SetItemAsync(keyName, nftapikey);
    }

    private void ToggleKey(MouseEventArgs e)
    {
        if (altDisplay == "************")
            altDisplay = walletState?.Value?.wallet?.PrivateKey;
        else
            altDisplay = "************";
    }

    private void CloseWallet(MouseEventArgs e)
    {
        Dispatcher.Dispatch(new WebWalletCloseAction());
        Navigation.NavigateTo(Navigation.Uri, true, true);
    }

    private void SaveSettings(MouseEventArgs e)
    {
        Dispatcher.Dispatch(new WebWalletSaveSettingsAction { VoteFor = voteAddr });
    }

    private async Task Transactions()
    {
        fetching = true;
        StateHasChanged();
        try
        {
            var result = await walletState.Value.wallet.SyncAsync(lyraApi);
            txs = new List<string>();
            if (result == Lyra.Core.Blocks.APIResultCodes.Success)
            {
                var accHeight = await lyraApi.GetAccountHeightAsync(walletState.Value.wallet.AccountId);
                Dictionary<string, long> oldBalance = null;
                var start = accHeight.Height - 10;
                if (start < 1)
                    start = 1;          // only show the last 100 tx
                for (long i = start; i <= accHeight.Height; i++)
                {
                    var blockResult = await lyraApi.GetBlockByIndexAsync(walletState.Value.wallet.AccountId, i);
                    var block = blockResult.GetBlock() as TransactionBlock;
                    if (block == null)
                        txs.Add(localizer["Null"]);
                    else
                    {
                        var str = $"No. {block.Height} {block.TimeStamp}, ";
                        if (block is SendTransferBlock sb)
                            str += localizer["Send to"] + $" {sb.DestinationAccountId}";
                        else if (block is ReceiveTransferBlock rb)
                        {
                            if (rb.SourceHash == null)
                            {
                                str += localizer["Genesis"];
                            }
                            else
                            {
                                var srcBlockResult = await lyraApi.GetBlockAsync(rb.SourceHash);
                                var srcBlock = srcBlockResult.GetBlock() as TransactionBlock;
                                str += localizer["Receive from"] + $" {srcBlock.AccountID}";
                            }
                        }
                        str += BalanceDifference(oldBalance, block.Balances);
                        var blstr = localizer["Balance:"];
                        str += $" {blstr} {string.Join(", ", block.Balances.Select(m => $"{m.Key}: {m.Value.ToBalanceDecimal()}"))}";

                        txs.Add(str);

                        oldBalance = block.Balances;
                    }
                }
            }
            txs.Reverse();            
        }
        catch (Exception ex)
        {
            Console.WriteLine(localizer["In Transactions:"] + $" {ex}");
        }
        fetching = false;
        StateHasChanged();
    }

    private string BalanceDifference(Dictionary<string, long> oldBalance, Dictionary<string, long> newBalance)
    {
        if (oldBalance == null)
        {
            return " Amount: " + string.Join(", ", newBalance.Select(m => $"{m.Key} {m.Value.ToBalanceDecimal()}"));
        }
        else
        {
            return " Amount: " + string.Join(", ", newBalance.Select(m => $"{m.Key} {(decimal)(m.Value - (oldBalance.ContainsKey(m.Key) ? oldBalance[m.Key] : 0)) / LyraGlobal.TOKENSTORAGERITO}"));
        }
    }

    private async Task CheckUpdate()
    {
        string msg = "";
        try
        {
            // get version
            var dealerClient = connMgr.GetDealer(null);
            if (dealerClient != null)
            {
                var verb = new Version((await dealerClient.GetBriefAsync()).Version);
                var myver = this.GetType().Assembly.GetName().Version;

                if (verb > myver)
                {
                    msg = localizer["Found new version {0}, my version {1}. OK to update.", verb, myver];
                    await JS.InvokeVoidAsync("reg.update");
                }
                else
                {
                    msg = localizer["My version {0} is up to date.", myver];
                }
            }
            else
            {
                msg = localizer["Unable to find a dealer."];
            }
        }
        catch(Exception ex)
        {
            msg = localizer["Error checking version: "] + ex.Message;
        }
        Console.WriteLine(msg);
        await JS.InvokeVoidAsync("alert", msg);
    }
}
